.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #282c34;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0px;
}

.band {
  display: flex;
  justify-content: center;
  background-color: #34425A;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 70px;
  padding-bottom: 20px;
  width: 1400px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 1400px;
  margin-right: 25px;
  margin-left: 25px;
}

.contactDetails {
  display: flex;
  flex-direction: row;
  margin-right: 25px;
}

.contactDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.body {
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.section {
  margin-bottom: 100px;
}

.lastSection {
  min-height: calc(100vh - 160px);
}

.MyName {
  color: white;
  font-family: "Montserrat-Regular";
  margin-bottom: 8px;
  margin-right: 5px;
  white-space: nowrap;
}

.Blurb {
  color: white;
  font-family: "Montserrat-Regular";
}

.Center {
  display: flex;
  justify-content: center;
}

.ExperienceCard {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin-left: 15px;
  margin-right: 10px;
  padding-top: 25px;
}

.EducationCard {
  display: flex;
  flex-direction: column;
  width: 714px;
  margin-left: 15px;
  margin-right: 10px;
  padding-top: 25px;
}

.TextContainer {
 margin-left: 10px;
}

.ExperienceCardHeader {
  display: flex;
  flex-direction: row;
  
}

.HeaderTextContainer {
  text-align: left;
  margin-left: 10px;
}

.Position {
  color: white;
  margin: 0px;
  font-family: "Montserrat-Regular";
}

.Company {
  color: white;
  margin: 0px;
  font-family: "Montserrat-Regular";
}

.Tenure {
  color: white;
  margin: 0px;
  font-family: "Montserrat-Regular";
}

.ExperienceCardBody {
  color: white;
  text-align: left;
}

.projectsRow {
  width: 1050px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectImageDiv {
  width: 500px;
  height: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectImage {
  width: 500px;
  max-height: 195px;
}

.projectTitleDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gitHubButton {
  width: 32px;
  height: 32px;
}

.projectDescription {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
